<?xml version='1.0'?>
<launch>
	<node pkg="contrail" type="converter_path_spline" name="path_converter" clear_params="true" output="screen">
		<param name="speed" value="0.2"/>

		<remap from="path_converter/path" to="/path" />
		<remap from="path_converter/spline" to="/spline" />
	</node>
</launch>
