<library path="src">
  <class name="Contrail Planner" type="rqt_contrail_planner.planner.Planner" base_class_type="rqt_gui_py::Plugin">
    <description>
	Ground Control Station plugin for RQT to allow easy planning of flight trajectories
    </description>
    <qtgui>
      <group>
        <label>QUTAS Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins developed as part of the QUTAS Flight Stack.</statustip>
      </group>
      <label>Contrail Planner</label>
      <icon type="theme">system-help</icon>
      <statustip>GCS interface for planning flight trajectories</statustip>
    </qtgui>
  </class>
</library>
