<?xml version='1.0'?>
<launch>
	<arg name="wp_name" default=""/>

	<node pkg="contrail_manager" type="load_waypoints" name="load_waypoints" clear_params="true" output="screen">
		<param name="frame_id" value="map" />

		<rosparam command="load" file="$(find contrail_manager)/waypoints/$(arg wp_name).yaml"/>
	</node>
</launch>
